*.csv filter=lfs diff=lfs merge=lfs -text
data/NMT/commonvoice/commonvoice_process/train.fr-frp filter=lfs diff=lfs merge=lfs -text
data/processed/NMT/commonvoice/commonvoice_process/train.fr-frp filter=lfs diff=lfs merge=lfs -text
